{% extends 'food/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
</head>
<body>
    {% block body %}
    {% for item in items %}
    <div class="row align-items-center mb-3">
    <div class="col-md-3 offset-md-2">
        <img src="{{ item.image }}" class="img-fluid rounded" alt="{{ item.name }}">
    </div>

    <div class="col-md-4">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <h5>${{ item.price }}</h5>
    </div>
    <div class="col-md-2 d-flex align-items-center">
        <a href="{% url 'food:detail' item.id %}" class="btn btn-success">
         Details
        </a>
    </div>
</div>
  
    {% endfor %}
    {% endblock %}
</body>
</html>
